*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Decided to alter the colour palette to match with the visuals of the music video.
  I wanted to go for colours that complement purple, therefore going for light pink and light orange */

:root{
  --col-01:rgb(252, 206, 166);
  --col-02:#e9a1b5;
  --col-03:#EABFCB;
  --col-04:#ecb290;
  --col-05:#DFF3E3;
  --col-06:rgb(202, 160, 124);
  --border: 1px solid var(--col-02);
}

.video-player-wrapper{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  /* Added some padding to the media player so it's not at the very top of the page,
    providing some additional room to make it appear nicer on the webpage */
  padding: 2rem;
}

.video-element-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#videoElement{
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

#videoPlayOverlay{
  width: 8rem;
  height: 8rem;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  opacity: 0.6;
  pointer-events: none;

}

.video-controls-wrapper{
  display: flex;
  justify-content: center;
}

#controlsWrapper{
  display: none;
}

.video-control-button{
  width: 2rem;
  height: 2rem;
  padding: .1rem;
  border: none;
  cursor: pointer;
  background-color: var(--col-01);
}

/* Button Hover Effect */

/* I want to have the buttons to increase in size partially to indicate that it can be clicked
  Signifier: Increase size of button
  Affordance: Toggle between normal size and partially larger, depending if you're hovering over the button
  Feedback: When the user hovers over a button, it increases in size partially, indicating that it can be clicked */

.video-control-button:hover{
  background-color: var(--col-01);
  transform: scale(1.1);
}
.video-control-button:active{
  background-color: var(--col-06);
  
}
.button-icon{
  pointer-events: none;
}

#playButton{
  background-image: url('./icons/play.svg');
}


#muteButton{
  background-image: url('./icons/mute.svg');
}

#fullScreenButton{
 background-image: url('./icons/fullScreen.svg');
}

.video-progress-bar{
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 2rem;
  flex-grow: 1;
  cursor: pointer;
  background-color: var(--col-03);
  box-shadow: 0 1px 2px var(--col-02) inset;
}
::-moz-progress-bar {
  background-color: var(--col-02);
}

::-webkit-progress-bar {
  background-color: var(--col-03);
  box-shadow: 0 1px 2px var(--col-02) inset;
}
::-webkit-progress-value {
  background-color: var(--col-02);
}

.timeline-loading{
  background-image: -moz-repeating-linear-gradient(45deg, var(--col-04) 0% 2%, transparent 2% 4%, red 4%);
  background-size: 200% 100%;
  animation: loadingAnimation 4s linear infinite;
}

@keyframes loadingAnimation {
  100%{
    background-position: 50% 0%;
  }
}